*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe ui';
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e8e8e8;
}
.content-calculador{
    display: flex;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background: #e8e8e8;
    box-shadow:  5px 5px 10px #cacaca,
             -5px -5px 10px #ffffff;
    
    align-items: center;
    justify-content: center;
    
 

}
.calculadora{
    width: 300px;
    height: 400px;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
}
form{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: -1em;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;   
}

input{
    width: 70%;
    height: 50px;
}

.button{
    border: none;
    border-radius: 50%;
    background: #e8e8e8;
    box-shadow:  5px 5px 10px #cacaca,
                 -5px -5px 10px #ffffff;
    font-size: 1.5em;
    align-self: center;
    justify-self: center;
    
}

.igual{
   
    background: #6C3483;
    box-shadow:  5px 5px 10px #cacaca,
                 -5px -5px 10px #ffffff;

    color: #fff;
    font-weight: bold;
 

}
.suma, .resta, .multiplica, .divicion, .borrar{
    color: #6C3483;
}




#barr{
   
   border: none;
    padding: 5px;
    justify-self: center;
    align-self: center;
    text-align: right;
    grid-column: 1/5;
    width: 95%;
    height: 80px;
    color: #6C3483;
    background: #e8e8e8;
    font-size: 3.0em;
    
}